// style

@import '../../../global_variables.scss';
.CardButton{
     width: 100%;
    .btn-secondary {
        background-color: $yellowMatalic;
        border:0;
        width: 100%;
        font-size:$size12;
        height:46px;
        &:hover{
            background-color:$DaskYellow; 
        }
    }
}