// style

@import '../../../global_variables.scss';

.BannerForm{
        @include border-radius(5px);
        background:$DarkGreen;
       .card-title{
           color:$white;
           font-size:$size18;
           padding:12px 0 0 0;
       }   
}