// style

@import '../../../global_variables.scss';

.RoomSelection{
    background:$white;
    @include border-radius(4px);
    padding:15px 15px 5px; 
    cursor:pointer; 
    .RoomSelectionLabel{
       color:$gray;
       font-size:$size12;
       margin: 0;
       outline: none;
       p{
           margin:0; 
       }
       .Details{
           .count{
                font-size: $size26;
                font-weight: bold;
                color: $lightblack; 
           }
           .RightInfo{
                display: inline-block;
                padding:0 0 0 5px;
                .room{
                    display:block;
                    font-weight: bold;
                    color: $lightblack;
                    font-size: $size13;
                    line-height: 14px;
                } 
           }
       }
    }
}
.modal{
    display: flex !important;
    width: 100%;
    align-items: center;
    .modal-dialog{
        width:100%;
        .modal-content{
            border:10px solid $LightBlue;
            @include border-radius(24px);
            position: relative;
            .modal-title{
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    padding-bottom:0;
                    border-bottom: 2px solid $yellowMatalic;
                    color: $lightblack;
                    font-weight: 600;
                    margin-bottom:0;
                    font-size:$size24;
            }
            .modal-header{
                border-bottom:none;
                    button.close {
                            position: absolute;
                            right: -11px;
                            top: -15px;
                            padding: 0 !important;
                            margin: 0 !important;
                            background: $Black;
                            opacity: 1;
                            border-radius: 100%;
                            height: 26px;
                            width: 26px;
                            span{
                                padding: 0;
                                height: 10px;
                                width: 10px;
                                line-height: 10px;
                                font-size:$size25;
                                color:$white;
                            }
                        }
                }  
            .modal-body{
                .form-group{
                    color: $Cream;
                    font-size: $size12;
                    &.group{
                        select{
                        width:95px;
                        @include border-radius(0px); 
                        } 
                    }
                }
                .AddGuest{
                    p{
                        margin:0 0 8px;;
                        font-size: $size13;
                    }
                    .numberguests{
                        width: 95px;
                        display: inline-block;
                        select{
                        @include border-radius(0px);   
                        } 
                    }
                    .Guest{
                        display: inline-block;
                        select{
                        @include border-radius(0px); 
                        margin:0 0 0 5px;  
                        }  
                    }

                }
            }    
        }
    }
}